torch
torchvision
torchaudio
albumentations
glfw
keyboard
kneed
matplotlib
numpy<2
opencv-python
pillow
pycairo
PyGLM
PyGObject==3.48.2
PyOpenGL
pytorch-lightning
PyYAML
scikit-learn
scipy
tensorboard
termcolor
timm
torchinfo
tqdm
rosbags
h5py
tensorflow>=2.15.0
psutil